<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/geodata/worldLow.js"></script>
  </head>
  <body>
    <%- include("partials/menu.ejs") %>
    <main>
      <section class="select_section">
        <form id="country_form">
          <select name="country" id="country_select">
            <% countries.forEach(country => { %>
            <option value="<%= country.cca2 %>"><%= country.name %></option>
            <% }) %>
          </select>
          <button type="submit">Go</button>
        </form>
      </section>
      <section class="info_section">
        <h2>Country Information</h2>
        <div>
          <h3>
            <%= countryDetails.name %>
            <img
              src="<%= countryDetails.flag %>"
              alt="Flag"
              style="width: 50px"
            />
          </h3>
          <p><strong>Capital:</strong> <%= countryDetails.capital %></p>
          <p>
            <strong>Area:</strong> <%= countryDetails.area.toLocaleString() %>
            km²
          </p>
          <p>
            <strong>Population:</strong> <%=
            countryDetails.population.toLocaleString() %>
          </p>
          <p><strong>Languages:</strong> <%= countryDetails.languages %></p>
          <p><strong>Currencies:</strong> <%= countryDetails.currencies %></p>
          <p>
            <strong>Maps:</strong>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13124457.20328561!2d30.7176466!3d15.6884928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15db8f9e2bcce7d5%3A0x4098c583754de60b!2sSudan!5e0!3m2!1sen!2sus!4v1602935125288!5m2!1sen!2sus"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </p>
        </div>
      </section>
    </main>
    <%- include("partials/footer.ejs") %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("country_form");
        const selectElement = document.getElementById("country_select");

        form.addEventListener("submit", function (event) {
          event.preventDefault();
          const selectedCountry = selectElement.value;
          const newUrl = `http://localhost:10040/country/${selectedCountry}`;
          window.location.href = newUrl;
        });

        // Set the default selected country if available
        const defaultCountryName =
          "<%= defaultCountry ? defaultCountry.cca2 : '' %>";
        if (defaultCountryName) {
          selectElement.value = defaultCountryName;
        }
      });
    </script>
  </body>
</html>
