<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/menu.ejs") %>
    <main>
      <section class="select_section">
        <form id="country_form" method="GET" action="/timezone">
          <label for="country_select1">Country 1:</label>
          <select name="countryId1" id="country_select1">
            <% regions.forEach(region => { %>
            <option value="<%= region %>"><%= region.split('/')[1] %></option>
            <% }) %>
          </select>

          <label for="country_select2">Country 2:</label>
          <select name="countryId2" id="country_select2">
            <% regions.forEach(region => { %>
            <option value="<%= region %>"><%= region.split('/')[1] %></option>
            <% }) %>
          </select>

          <button type="submit">Go</button>
        </form>
      </section>
      <section class="timezone1">
        <p><strong>Current Time:</strong> <%= timeData1.datetime %></p>
        <p>
          <strong>Date:</strong> <%= new
          Date(timeData1.datetime).toLocaleDateString() %>
        </p>
        <p>
          <strong>Day of the Week:</strong> <%= ['Sunday', 'Monday', 'Tuesday',
          'Wednesday', 'Thursday', 'Friday', 'Saturday'][timeData1.day_of_week]
          %>
        </p>
      </section>
      <section class="timezone2">
        <p><strong>Current Time:</strong> <%= timeData2.datetime %></p>
        <p>
          <strong>Date:</strong> <%= new
          Date(timeData2.datetime).toLocaleDateString() %>
        </p>
        <p>
          <strong>Day of the Week:</strong> <%= ['Sunday', 'Monday', 'Tuesday',
          'Wednesday', 'Thursday', 'Friday', 'Saturday'][timeData2.day_of_week]
          %>
        </p>
      </section>
    </main>
    <%- include("partials/footer.ejs") %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const select1 = document.getElementById("country_select1");
        const select2 = document.getElementById("country_select2");

        const countryId1 = "<%= countryId1 %>";
        const countryId2 = "<%= countryId2 %>";

        if (countryId1) {
          select1.value = countryId1;
        }
        if (countryId2) {
          select2.value = countryId2;
        }

        const form = document.getElementById("country_form");
        form.addEventListener("submit", function (event) {
          event.preventDefault();

          const selectedCountryId1 = select1.value;
          const selectedCountryId2 = select2.value;

          const newUrl = `/timezone?countryId1=${selectedCountryId1}&countryId2=${selectedCountryId2}`;

          window.location.href = newUrl;
        });
      });
    </script>
  </body>
</html>
